<!DOCTYPE HTML>
<html>
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>See the books <a href="/books">here</a></p>
<p>Find a book <a href="/books/{id}">here</a></p>
<p>Add a book <a href="/addbook">here</a></p>
<p>See the users <a href="/users">here</a></p>
<p>Find a user <a href="/users/{id}">here</a></p>
<p>Add a user <a href="/adduser">here</a></p>
<p>See the loans <a href="/loans">here</a></p>
<p>Find a loan <a href="/loans/{id}">here</a></p>
<p>Add a loan <a href="/addloan">here</a></p>
</body>
</html>